doctype html
html(lang="en")
  include includes/head.pug
body
    h1
        a(href="/")="Home"
        span=` ∞ Images ∞ ${name}`
    
    if focusedImage
        h3= `${focusedImage.name} Ξ ${focusedImage.tag}`
        p=focusedImage.url

    table(class="u-full-width")
        thead
            tr
                th="Name"
                th="Tag"
        tbody
            each image in images
                if !focusedImage || focusedImage.tag !== image.tag
                    tr
                        td=image.name
                        td
                            a(href=`/images/${encodeURIComponent(image.name)}/${encodeURIComponent(image.tag)}`)=image.tag
