doctype html
html(lang="en")
  include includes/head.pug
body
    h1="Welcome to Spacegun "+version

    if errors.length > 0
        h2="Errors"
        ul
            for error in errors
                li=error

    if clusters
        h2="Clusters"
        table(class="u-full-width")
            thead
                tr
                    th="Name"
                    th="Known Namespaces"
            tbody
                each cluster in clusters
                    tr
                        td
                            a(href=`pods/${cluster.name}`)=cluster.name
                        td=cluster.namespaces

    if jobs
        h2="Jobs"
        table(class="u-full-width")
            thead
                tr
                    th="Name"
                    th="Last Run"
                    th="Next Run"
            tbody
                each job in jobs
                    tr
                        td=job.job.name
                        td=job.lastRun
                        td=job.nextRun

    if images
        h2="Images"
        each image in images
            div(class="u-pull-left")
                a(href=`images/${image}`, class="card")=image
        div(class="u-cf")

    h2="Configuration"
    pre
        code
            span.
                kube: #{config.kube}
                docker: #{config.docker}
                jobs: #{config.jobs}

            if config.slack
                span.
                    slack: #{config.slack}

            if config.namespaces
                span.
                    namespaces: [#{config.namespaces}]

            if config.git
                span.
                    git:
                        remote: #{config.git.remote}
                        cron: #{config.git.cron}

            span.
                server:
                    host: #{config.server.host}
                    port: #{config.server.port}
