doctype html
html(lang="en")
  include includes/head.pug
body
    h1
        a(href="/")="Home"
        span=" ∞ Namespace ∞ " + namespaceName
    
    h3=clusterName+" ∞ "+namespaceName+" ∞ "+"Deployments"
    table(class="u-full-width")
        thead
            tr
                th="Name"
                th="Current Image Url"
        tbody
            each deployment in deployments
                tr
                    td=deployment.name
                    td=deployment.image.url

    h3=clusterName+" ∞ "+namespaceName+" ∞ "+"Batches"
    table(class="u-full-width")
        thead
            tr
                th="Name"
                th="Current Image Url"
                th="Cron"
                th="Concurrency"
        tbody
            each batch in batches
                tr
                    td=batch.name
                    td=batch.image.url
                    td=batch.schedule
                    td=batch.concurrencyPolicy

    h3=clusterName+" ∞ "+namespaceName+" ∞ "+"Pods"
    table(class="u-full-width")
        thead
            tr
                th="Name"
                th="State"
                th="Current Image Url"
                th="Restarts"
        tbody
            each pod in pods
                tr
                    td=pod.name
                    if pod.ready
                        td="Up"
                    else
                        td="Down"
                    td=pod.image.url
                    td=pod.restarts
